body{
    background-color: darkgray;
}

div.container {
    background: ghostwhite;
    width: 50%;
    height: fit-content;;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
    padding: 2em 1em;
}
p{
    text-align: center;
}
