.AppContainer {
  position: fixed;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: aqua;
  border: 1px solid;
  border-radius: 10px;
  padding: 50px 25px;
}

.prod_container {
  display: block;
  margin: 1em;
  padding: 1em;
  box-shadow: 0px 0px 20px 0px rgba(91,91,91,0.75);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(91,91,91,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(91,91,91,0.75);
}

.prodImage {
  width: 25%;
  display: table-cell;
}

.prodImage img {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  
}

.prodDetail {
  display: table-cell;
  width: 75%;
  vertical-align: top;
  padding-left: 1em;
}

p.prodPrice {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}
.prodDetail h3{
  margin-top: 0;
}


.btn-container{
  text-align: right;
}

.prod_wrapper, .cart_wrapper {
  display: table-cell;
  width: 40%;
}

.shop h1, .emptyCartMsg{
  text-align: center;
}

.cart_wrapper {
  border-left: 2px solid #929292;
}
